.reportInfo h1 {
    font-size: 24px;
}

.reportInfoStrip {
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4343FF;
    color: white;
    flex-direction: column;
    margin-bottom: 18px;
    position: fixed;
    width: 100%;
    z-index: 99;
}

.reportInfoStrip h1 {
    font-size: 14px;
}

.reportInfoStrip p {
    font-size: 10px;
}

.reportDetails {
    padding-top: 70px;
}

.report-frame {
    margin-bottom: 20px;
    margin-top: 70px;
}

.simmilarReport {
    width: 1200px;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 70px;
}

.simmilarReport h1 {
    margin-bottom: 20px;
}


.report-frame-wrapper {
    width: 100%;
    height: auto;
    overflow-x: auto; /* Enable horizontal scrolling if needed */
  }
  
  .report-frame {
    width: 100%;
    height: 1000px; /* Adjust based on content */
    border: none;
  }
  
  /* Mobile styles */
  @media only screen and (max-width: 768px) {
    .report-frame {
      width: 100%; /* Ensure full width on mobile */
      height: 600px; /* Reduce the height for mobile */
      overflow: auto;
    }
  
    /* Force zooming out on mobile devices */
    .report-frame-wrapper {
      overflow-x: scroll; /* Enable scrolling on mobile */
      -webkit-overflow-scrolling: touch; /* Smooth scrolling on mobile */
    }
  
    /* Set a minimum width for the iframe to ensure it's scrollable horizontally */
    .report-frame {
      min-width: 768px; /* Forces content to fit and be scrollable */
    }
  }
  