.reportInfo h1 {
    font-size: 24px;
}

.reportInfoStrip {
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4343FF;
    color: white;
    flex-direction: column;
    margin-bottom: 18px;
    position: fixed;
    width: 100%;
    z-index: 99;
}

.reportInfoStrip h1 {
    font-size: 14px;
}

.reportInfoStrip p {
    font-size: 10px;
}

.reportDetails {
    padding-top: 70px;
}

.report-frame {
    margin-bottom: 20px;
    margin-top: 70px;
}

.simmilarReport {
    width: 1200px;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 70px;
}

.simmilarReport h1 {
    margin-bottom: 20px;
}


.report-frame-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%; /* This will give it a 16:9 aspect ratio */
  }
  
  .report-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
  
  @media only screen and (max-width: 768px) {
    .report-frame-wrapper {
      padding-top: 100%; /* This will adjust the aspect ratio on mobile */
    }
    
    .report-frame {
      width: 100%;
      height: 100%;
      overflow: auto;
      -webkit-overflow-scrolling: touch; /* For smooth scrolling on mobile */
    }
  }
  